body {
      background-image: url('wal_172619-city-7576853_1280.jpg');
      background-repeat: no-repeat;
      background-attachment: fixed;  
      background-size: cover;
      background-position: center;
}

.container-fluid {
        width: 100%;
        background-color: rgb(180, 203, 244);
        opacity: 90%;  
        padding: 10%; 
        text-align: center;
        border-radius: 10%;
        position: fixed;
}

h1{
    color:rgb(83, 95, 184);
}

img {
  width: 20%;
  border-radius: 10%;
}

.fare-box {
    margin-top: 20px;
}

.fare-amount {
    font-size: 30px;
    font-weight: bold;
}

footer {
    text-align: center;
    padding: 20px;
    color: white;
}
















