body {
      background-image: url('wal_172619-city-7576853_1280.jpg');
      background-repeat: no-repeat;
      background-attachment: fixed;  
      background-size: cover;
      background-position: center;
}

.container {
          width: 100%;
    padding-right: 15px;
    padding-left: 15px; 
    margin-right: auto;  
    margin-left: auto;   
    box-sizing: border-box;
}

img {
  width: 20%;
  border-radius: 10%;
}

.fare-box {
    margin-top: 20px;
}

.fare-amount {
    font-size: 30px;
    font-weight: bold;
}

footer {
    text-align: center;
    padding: 20px;
    color: white;
}

.container-lg {
       max-width: 1200px;
        margin: 0 auto;
        padding: 20px;
        background-color: #f0f0f0;
        border: 1px solid #ccc;
        border-radius: 8px;























